VITE_APP_NAME="Bank Online System"

VITE_API_URL=http://localhost:8000/api
NODE_ENV=development

VITE_OAUTH_CLIENT_ID=bank-client-id
VITE_OAUTH_CLIENT_SECRET=bank-client-secret
VITE_OAUTH_URL=http://backend:8000
VITE_OAUTH_AUTH_URL="${VITE_OAUTH_URL}/oauth/token"
VITE_OAUTH_USERINFO_URL="${VITE_OAUTH_URL}/oauth/userinfo"
VITE_OAUTH_LOGOUT_URL="${VITE_OAUTH_URL}/oauth/revoke"